@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #F7FBFC;
  --color-primary: #1B262C;
  --color-secondary: #0F4C75;
  --color-tertiary: #3282B8;
  --color-accent: #BBE1FA;
}

.dark {
  --color-background: #1E201E;
  --color-primary: #E9EFEC;
  --color-secondary: #C4DAD2;
  --color-tertiary: #6A9C89;
  --color-accent: #16423C;
}
