@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #F1F1F1;
  --color-primary: #1A3636;
  --color-secondary: #3C3D37;
  --color-tertiary: #697565;
  --color-accent: #ECDFCC;
}

.dark {
  --color-background: #1E201E;
  --color-primary: #C9DABF;
  --color-secondary: #9CA986;
  --color-tertiary: #808D7C;
  --color-accent: #5F6F65;
}
